SERVER_HOSTNAME=

# project info
INFRA_DIR=
DATA_DIR=

# nginx
NGINX_VERSION=

# certbot
CERTBOT_CLOUDFLARE_API_TOKEN=
CERTBOT_PROPAGATION_SECONDS=
CERTBOT_EMAIL_ADDRESS=

# alloy
ALLOY_GRAFANA_LOKI_ENDPOINT=
ALLOY_GRAFANA_USERNAME=
ALLOY_GRAFANA_API_TOKEN=

# database
DATABASE_POSTGRES_VERSION=
DATABASE_POSTGRES_PASSWORD=

# database backup
PG_BACKUP_COMPOSE_SERVICE=
PG_BACKUP_BACKUP_DIR=
PG_BACKUP_RETENTION_DAYS=
