# project info
INFRA_ENV=
INFRA_DIR=

# local info
DATA_DIR=
SERVER_SIMULATION_NAME=
SERVER_SIMULATION_IMAGE=

# remote info
SERVER_USER=
SERVER_HOST=
SERVER_DATA_DIR=

# letsencrypt
CLOUDFLARE_API_TOKEN=
LETSENCRYPT_EMAIL_ADDRESS=

# postgres
POSTGRES_USER=
POSTGRES_PASSWORD=

# mariadb
MARIADB_ROOT_PASSWORD=
