SERVER_HOSTNAME=

# project info
DATA_DIR=

# nginx
NGINX_VERSION=

# alloy
ALLOY_GRAFANA_LOKI_ENDPOINT=
ALLOY_GRAFANA_USERNAME=
ALLOY_GRAFANA_API_TOKEN=

# afonsodev-production
AFONSODEV_PRODUCTION_ENV=
# afonsodev-production-web
AFONSODEV_PRODUCTION_WEB_TAG=
# afonsodev-production-api
AFONSODEV_PRODUCTION_API_TAG=
AFONSODEV_PRODUCTION_API_ALLOWED_ORIGIN=
AFONSODEV_PRODUCTION_API_RESEND_API_KEY=
AFONSODEV_PRODUCTION_API_RECAPTCHA_SECRET=
AFONSODEV_PRODUCTION_API_TURNSTILE_SECRET=
AFONSODEV_PRODUCTION_API_CONTACT_FROM=
AFONSODEV_PRODUCTION_API_CONTACT_TO=

# fnscli-production
FNSCLI_PRODUCTION_WEB_TAG=
