services:
  nginx:
    image: dhi.io/nginx:${NGINX_VERSION:?}
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
      - ./docker/nginx/snippets:/etc/nginx/snippets:ro
      - ./docker/nginx/html:/usr/share/nginx/html:ro
      - ${DATA_DIR:?}/nginx/logs:/var/log/nginx
      - certbot-data:/etc/letsencrypt:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - afonsodev-production-api
      - afonsodev-production-web
      - ephemeral-production-web
      - jrbaena-production-web
      - meteosaucana-production-web
      - mycrew-sandbox-api
      - mycrew-test-api
      - mycrew-staging-api
      - mycrew-production-api
      - pgadmin
      - cadvisor
      - prometheus
      - grafana
      - wgeasy
    restart: always

include:
  # Application services
  - path: ./docker/compose/compose.afonsodev-production.yml
  - path: ./docker/compose/compose.ephemeral-production.yml
  - path: ./docker/compose/compose.jrbaena-production.yml
  - path: ./docker/compose/compose.meteosaucana-production.yml
  - path: ./docker/compose/compose.mycrew-sandbox.yml
  - path: ./docker/compose/compose.mycrew-test.yml
  - path: ./docker/compose/compose.mycrew-staging.yml
  - path: ./docker/compose/compose.mycrew-production.yml
  # Extra tools
  - path: ./docker/compose/compose.certbot.yml
  - path: ./docker/compose/compose.database.yml
  - path: ./docker/compose/compose.wgeasy.yml
  - path: ./docker/compose/monitoring/compose.yml

volumes:
  certbot-data:
  certbot-logs:
