services:
  nginx:
    image: dhi.io/nginx:${NGINX_VERSION:?}
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
      - ./docker/nginx/snippets:/etc/nginx/snippets:ro
      - ./docker/nginx/html:/usr/share/nginx/html:ro
      - ${DATA_DIR:?}/nginx/logs:/var/log/nginx
      - certbot-data:/etc/letsencrypt:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - afonsodev-production-api
      - afonsodev-production-web
      - ephemeral-production-web
      - jrbaena-production-web
      - meteosaucana-production-web
      - mycrew-sandbox-api
      - mycrew-test-api
      - mycrew-staging-api
      - mycrew-production-api
      - pgadmin
      - wgeasy
    restart: always

include:
  # Application services
  - path: ./docker/compose/afonsodev-production/compose.yml
  - path: ./docker/compose/ephemeral-production/compose.yml
  - path: ./docker/compose/jrbaena-production/compose.yml
  - path: ./docker/compose/meteosaucana-production/compose.yml
  - path: ./docker/compose/mycrew-sandbox/compose.yml
  - path: ./docker/compose/mycrew-test/compose.yml
  - path: ./docker/compose/mycrew-staging/compose.yml
  - path: ./docker/compose/mycrew-production/compose.yml
  # Extra tools
  - path: ./docker/compose/database/compose.yml
  - path: ./docker/compose/certbot/compose.yml
  - path: ./docker/compose/wgeasy/compose.yml

volumes:
  certbot-data:
  certbot-logs:
