services:
  nginx:
    image: nginx:1-alpine
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
      - ./docker/nginx/snippets:/etc/nginx/snippets:ro
      - ./docker/nginx/html:/usr/share/nginx/html:ro
      - letsencrypt-data:/etc/letsencrypt:ro
      - /home/ops/data/nginx/logs:/var/log/nginx
      - /home/ops/data/nginx/conf:/etc/nginx/conf:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - afonsodev-api-production
      - jrbaena-production
      - meteosaucana-production
      # - ephemeral-web-test
      - ephemeral-web-production
      - mycrew-api-sandbox
      - mycrew-api-test
      - mycrew-api-staging
      - mycrew-api-production
      - pgadmin
      - wgeasy
    restart: always

  letsencrypt: # to be run via bin/letsencrypt
    image: registry.gitlab.com/afonsodemori/infra/letsencrypt:${LETSENCRYPT_IMAGE_TAG:-latest}
    environment:
      EMAIL_ADDRESS: ${LETSENCRYPT_EMAIL_ADDRESS:?}
      CLOUDFLARE_API_TOKEN: ${CLOUDFLARE_API_TOKEN:?}
      PROPAGATION_SECONDS: ${CLOUDFLARE_DNS_PROPAGATION_SECONDS:?}
    volumes:
      - letsencrypt-data:/etc/letsencrypt
      - letsencrypt-logs:/var/log/letsencrypt
    profiles:
      - ondemand

  postgres:
    image: postgres:${POSTGRES_VERSION:?}
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?}
    # ports:
    #   - "${POSTGRES_PORT:?}:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    restart: always

  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL:?}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD:?}
    volumes:
      - pgadmin:/var/lib/pgadmin
    depends_on:
      - postgres
    restart: always

include:
  - path: ./docker/compose/afonsodev-api-production/compose.yml
  - path: ./docker/compose/jrbaena-production/compose.yml
  - path: ./docker/compose/meteosaucana-production/compose.yml
  # - path: ./docker/compose/ephemeral-test/compose.yml
  - path: ./docker/compose/ephemeral-production/compose.yml
  - path: ./docker/compose/mycrew-sandbox/compose.yml
  - path: ./docker/compose/mycrew-test/compose.yml
  - path: ./docker/compose/mycrew-staging/compose.yml
  - path: ./docker/compose/mycrew-production/compose.yml
  - path: ./docker/compose/wgeasy/compose.yml

volumes:
  pgdata:
  pgadmin:
  letsencrypt-data:
  letsencrypt-logs:
