services:
  my-crew-api-production:
    image: registry.gitlab.com/my-crew-project/my-crew-api:${IMAGE_TAG:-latest}
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - infra_network
    restart: always
