# Documentation at https://crontab.guru
# minute - hour - day of month - month - day of week - command
37    4 * * 3 cd /home/ops/infra/ && docker compose run certbot renew >> /home/ops/data/crontab/certbot.log 2>&1
15,45 * * * * cd /home/ops/crontab/afonsodev-resume-exporter/ && /bin/bash -c 'set -a; source .env; set +a; exec ./afonsodev-resume-exporter' >> /home/ops/data/crontab/afonsodev-resume-exporter.log 2>&1
0     3 * * * cd /home/ops/infra/ && /bin/bash bin/backup-pg-export.sh >> /home/ops/data/crontab/backup-pg-export.log 2>&1
