# Documentation at https://crontab.guru
# minute - hour - day of month - month - day of week - command
37 4 * * 3 docker compose -f /home/ops/infra/compose.yml run letsencrypt renew >> /home/ops/data/crontab/letsencrypt.log 2>&1
*/5 * * * * cd /home/ops/cron/afonso-dev-resume-exporter/ && /bin/bash -c 'set -a; source .env; set +a; exec ./afonso-dev-resume-exporter-linux-amd64' >> /home/ops/data/crontab/afonso-dev-resume-exporter.log 2>&1
