services:
  sonar:
    image: sonarqube:10-community
    env_file:
      - .env
    volumes:
      - sonar_conf:/opt/sonarqube/conf
      - sonar_data:/opt/sonarqube/data
      - sonar_logs:/opt/sonarqube/logs
      - sonar_extensions:/opt/sonarqube/extensions
    depends_on:
      - postgres
    restart: always

volumes:
  sonar_conf:
  sonar_data:
  sonar_logs:
  sonar_extensions:
