services:
  meteosaucana-production-web:
    image: registry.gitlab.com/afonsodemori/jrb-meteosaucana:${IMAGE_TAG:-latest}
    env_file:
      - .env
    depends_on:
      - postgres
    restart: always
