services:
  certbot:
    image: certbot/dns-cloudflare
    environment:
      EMAIL_ADDRESS: ${CERTBOT_EMAIL_ADDRESS:?}
      CLOUDFLARE_API_TOKEN: ${CERTBOT_CLOUDFLARE_API_TOKEN:?}
      PROPAGATION_SECONDS: ${CERTBOT_PROPAGATION_SECONDS:?}
    volumes:
      - certbot-data:/etc/letsencrypt
      - certbot-logs:/var/log/letsencrypt
      - ./docker/certbot/entrypoint.sh:/entrypoint.sh:ro
    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    profiles:
      - ondemand
    restart: never
